.products
    padding: 5rem 12rem

    .products_search-add_section
        display: flex
        justify-content: space-between

    .products_add button,
    .products_search input
        font-size: 1.4rem

    .products_add button
        cursor: pointer
        background-color: #FFDD00
        border: none
        padding: 2rem
        font-weight: bold

    .products_search input
        padding: 1rem
