*
    box-sizing: border-box
    font-family: "Arial"
    font-size: 62.5%
    margin: 0
    color: #0E265A

body
    background-color: #f2f2f2

h1
    font-size: 3.2rem

.alert_error
    color: red
    font-size: 1.2rem
